<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div class="form-group col-md-6">
    <label for="fName">Imię</label>
    <input
      type="text"
      class="form-control"
      id="fName"
      formControlName="fName"
      placeholder="Imię"
    />
  </div>
  <div class="form-group col-md-6">
    <label for="lName">Nazwisko</label>
    <input
      type="text"
      class="form-control"
      id="lName"
      formControlName="lName"
      placeholder="Nazwisko"
    />
  </div>
  <div class="form-group col-md-12">
    <label for="city">Miasto</label>
    <input
      type="text"
      class="form-control"
      id="city"
      formControlName="city"
      placeholder="Miasto"
    />
  </div>
  <div class="form-group col-md-12">
    <label for="street">Ulica i nr</label>
    <input
      type="text"
      class="form-control"
      id="street"
      formControlName="street"
      placeholder="Ulica i nr"
    />
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="code">Kod pocztowy</label>
      <input
        type="text"
        class="form-control"
        id="code"
        formControlName="code"
      />
    </div>
  </div>
  <div class="form-group col-md-6">
    <div class="form-check col-md-3">
      <input class="form-check-input" type="checkbox" id="terms" />
      <label class="form-check-label" for="terms"> Akceptuję warunki </label>
    </div>
    <button
      type="submit"
      class="btn btn-success col-md-3"
      [disabled]="!checkoutForm.valid"
    >
      Zamów
    </button>
  </div>
</form>
